.stranica4 {
	

	.link-bar1 {
		background-color: #ff4500;
		height: 35px;
	}

	.main-bar {
		background-color: #00ffff;
		height: 100px;
		margin-top: -10px;
	}

	.link-bar2 {
		background-color: #ff4500;
		height: 35px;
		margin-top: -8px;
	}

	#lefti {
		background-color: #00ffff;
		height: 500px;
		margin-top: -5px;
    }

    .column {
        @include outer-container;
    }
	
	.column4 {
        @include span-columns(4);
    }
	
}