<div class="stranica4">
	<div class="link-bar1">
		<h4></h4>
	</div>
	<div class="main-bar">
		<h4></h4>
	</div>
	<div class="link-bar2">
		<h4></h4>
	</div>
	
	<div class="column4">
	  <div id="lefti">
	    <h4></h4>
	  </div>
    </div>

    <div class="column4">
	  <div id="lefti">
	    <h4></h4>
	  </div>
    </div>

    <div class="column4">
	  <div id="lefti">
	    <h4></h4>
	  </div>
    </div>

</div>


