<div>
	<div class="column">
	  <div id="heder">
		<h2></h2>
	  </div>
	</div>
	<div class="column">
	  <div id="glavna-kolona">
		<h4></h4>
	  </div>
        <div class="column6">
		  <div id="lijeva-kolona">
			<h4></h4>
		  </div>
		</div>
        <div class="column6">
		  <div id="desna-kolona">
			<h4></h4>
		  </div>
		</div>
	</div>

	<div class="column">
	  <div class="column4">
		<div id="mala-kolona1">
		  <h4></h4>
		</div>
	  </div>
	  <div class="column4">
		<div id="mala-kolona2">
		  <h4></h4>
		</div>
	  </div>
	  <div class="column4">
		<div id="mala-kolona3">
		</div>
	  </div>
	</div>
</div>   