<div class="_stranica2">
  <div class="navbar">
    <h4></h4>
  </div>

  <div class="column">
    <div class="column10">
	  <div id="glavni-dio">
	      <h4></h4>
      </div>
    </div>
    <div class="column2">
      <div id="desno1">
    	<h4></h4>
      </div>
    </div>
  </div>

  <div class="column">
	<div class="column5">
      <div id="lijeva">
	    <h4></h4>
	  </div>
	</div>
	<div class="column5">
	  <div id="desna">
		<h4></h4>
	  </div>
	</div>
	<div class="column2">
	  <div id="desno2">
		<h4></h4>
	  </div>
	</div>
  </div>

  <div class="column">
	<div class="column10">
	  <div id="dolje">
        <h4></h4>
	  </div>
	</div>
	<div class="column2">
	  <div id="desno3">
    	<h4></h4>
      </div>
	</div>
  </div>

  <div class="column">
	<div class="column10">
	  <h4></h4>
	</div>
	<div class="column2">
	  <div id="desno4">
    	<h4></h4>
      </div>
	</div>
  </div>

</div>